<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatars</title>
    <link rel="stylesheet" href="Avatars.css">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
</head>

<body>
    <h1>Avatars</h1>
    <p>- Avatars are used to show user profile icons or status.
        <br>- We have got Image Avatars, Square Image Avatars,<br>&nbsp;&nbsp; Avatars with Icons, Avatars with Badges.
        <br>- We have got avatars in 3 sizes, small, medium, large.
    </p>
    <h1>Image Avatars</h1>
    <div class="avatar-container image-avatars">
        <div class="avatar-text">Image Avatars</div>
        <img class="avatar sm" src="images/male_avatar.svg" />
        <img class="avatar" src="images/male_avatar.svg" />
        <img class="avatar lg" src="images/male_avatar.svg" />
    </div>
    <iframe src="https://carbon.now.sh/embed/UkyNvWBHaWdWlNWijsbr"
        style="width: 500px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Square Image Avatars</h1>
    <div class="avatar-container image-avatars-square">
        <div class="avatar-text">Square Image Avatars</div>
        <div class="avatar-container avatar-container-sm">
            <img class="avatar sm" src="images/male_avatar.svg" />
        </div>
        <div class="avatar-container avatar-container-md">
            <img class="avatar" src="images/male_avatar.svg" />
        </div>
        <div class="avatar-container avatar-container-lg">
            <img class="avatar lg" src="images/male_avatar.svg" />
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/Hi2d68D9L0nDpfP7v2Gl"
        style="width: 639px; height: 353px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Avatars with Icons</h1>
    <div class="avatar-container icon-avatars">
        <div class="avatar-text">Icon Avatars</div>
        <div class="sm"><i class="material-icons-outlined">account_circle</i></div>
        <div class="md"><i class="material-icons-outlined">account_circle</i></div>
        <div class="lg"><i class="material-icons-outlined">account_circle</i></div>
    </div>
    <iframe src="https://carbon.now.sh/embed/3eg2Vui13mrDrpbgQCvn"
        style="width: 631px; height: 353px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Image Avatars with Badges</h1>
    <div class="avatar-container image-avatars-w-badge">
        <div class="avatar-text">Image Avatars With Badge</div>
        <div class="badge_parent">
            <img class="avatar sm" src="images/male_avatar.svg" />
            <div class="badge_border"><span class="badge"></span></div>
        </div>
        <div class="badge_parent">
            <img class="avatar" src="images/male_avatar.svg" />
            <div class="badge_border"><span class="badge"></span></div>
        </div>
        <div class="badge_parent">
            <img class="avatar lg" src="images/male_avatar.svg" />
            <div class="badge_border"><span class="badge"></span></div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/wbxTdE0m4vCD5p3cs3Pi"
        style="width: 681px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>

</body>

</html>