<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="Images.css" />
</head>

<body>
    <div class="image-container">
        <img class="square-image" src="Images/image.jpg">
        <img class="square-image" src="Images/image2.jpg">
    </div>
    <div class="image-container">
        <img class="circle-image" src="Images/image.jpg">
        <img class="circle-image" src="Images/image2.jpg">
    </div>
    <div class="image-container">
        <img class="dynamic-image" src="https://picsum.photos/id/1/500/500">
    </div>
</body>

</html>