<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    <link rel="stylesheet" href="Images.css" />
</head>

<body>
    <h1>Images</h1>
    <p>Images enhance the web-experience with the display.</p>
    <p>We have got images of different sizes and shapes, like circular images,<br> square images and responsive images.
    </p>
    <h2>Square Images</h2>
    <div class="image-container">
        <img class="square-image" src="Images/image.jpg">
        <img class="square-image" src="Images/image2.jpg">
    </div>
    <iframe src="https://carbon.now.sh/embed/AkEvXUJw0eCUt8ppMlFW"
        style="width: 462px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h2>Circular Images</h2>
    <div class="image-container">
        <img class="circle-image" src="Images/image.jpg">
        <img class="circle-image" src="Images/image2.jpg">
    </div>
    <iframe src="https://carbon.now.sh/embed/FsFmrM7k60PhLad1f2gw"
        style="width: 462px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h2>Dynamic image</h2>
    <div class="image-container">
        <img class="dynamic-image" src="https://picsum.photos/id/1/500/500">
    </div>
    <iframe src="https://carbon.now.sh/embed/02jHbQ2cQ7tyo3ZaFLt8"
        style="width: 471px; height: 242px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
</body>

</html>