<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grids</title>
    <link rel="stylesheet" href="/Components/Grids/Grids.css">
</head>

<body>
    <h1>Grid with 2 Columns</h1>
    <div class="grid-container grid-2">
        <div class="column">Column 1</div>
        <div class="column">Column 2</div>
    </div>
    <iframe src="https://carbon.now.sh/embed/rsHGvgQHbw8TnFCHmhwq"
        style="width: 471px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Grid with 3 Columns</h1>
    <div class="grid-container grid-3">
        <div class="column">Column 1</div>
        <div class="column">Column 2</div>
        <div class="column">Column 3</div>
    </div>
    <iframe src="https://carbon.now.sh/embed/dg8ltADIoX9C0u43X8h7"
        style="width: 471px; height: 279px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
</body>

</html>