<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Components/Texts/Texts.css">
</head>

<body>
    <h1>Headings</h1>
    <div class="text-container">
        <h1 class="h1">This is a h1 Heading</h1>
        <h2 class="h2">This is a h2 heading</h2>
        <h3 class="h3">This is a h3 heading</h3>
        <h4 class="h4">This is a h4 heading</h4>
        <h5 class="h5">This is a h5 heading</h5>
        <h6 class="h6">This is a h6 heading</h6>
    </div>
    <iframe src="https://carbon.now.sh/embed/caIVXkZkgqAFkMq2Najj"
        style="width: 529px; height: 356px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Text Alignment</h1>
    <div class="text-container">
        <p class="Left-txt">Left Aligned Text</p>
        <p class="Center-txt">Center Aligned Text</p>
        <p class="Right-txt">Right Aligned Text</p>
    </div>
    <iframe src="https://carbon.now.sh/embed/1QwDwNnbMg7OGG2Yg1Mr"
        style="width: 573px; height: 292px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Text Sizes</h1>
    <div class="text-container">
        <p class="txt-lg">Paragraph with Large Text.</p>
        <p class="txt-md">Paragraph with Medium Text.</p>
        <p class="txt">Paragraph with Text.</p>
        <p class="txt-sm">Paragraph with small Text.</p>
    </div>
    <iframe src="https://carbon.now.sh/embed/NHdUPlIltSCJVMUsQNYe"
        style="width: 598px; height: 314px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
</body>

</html>