<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link href="Cardstyle.css" rel="stylesheet" />
</head>

<body>
    <!-- card 1 -->
    <h1>Cards</h1>
    <p>- This page contains different cards that can be used for different sites like ecommerce..</p>
    <p>- We have got horizontal card, Basic card, Basic card with header, Card with Text Overlay<br>.
        Cards with dismiss nad some custom cards.
    </p>
    <div class="card1 card basic-card">
        <div class="card-container">
            <div class="card-image"></div>
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Horizontal Card</h3>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/mrevURLOFc23ZYpqgDEG"
        style="width: 707px; height: 633px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 2 -->
    <div class="card2 card big-basic-card">
        <div class="card-container">
            <div class="card-image"></div>
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Basic Card</h3>
            </div>
            <div class="card-information">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/td2uuC94GvYCSa8nSiCB"
        style="width: 926px; height: 372px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 3 -->
    <div class="card3 card big-basic-w-header">
        <div class="card-container">
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Basic with Header</h3>
            </div>
            <div class="card-image"></div>
            <div class="card-information">
                <p>
                    Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/flxt5prQO7EWW0u9vMkz"
        style="width: 900px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 4 -->
    <div class="card4 card basic-w-textOmedia">
        <div class="card-container">
            <div class="for-position">
                <div class="card-image"></div>
                <div class="card-text">
                    <h2 class="card-heading">Our Changing Planet</h2>
                    <h3 class="card-subheading">Card With Text Overlay</h3>
                </div>
            </div>
            <div class="card-information">
                <p>
                    Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/LjCWSXra3GtFIq64zJFl"
        style="width: 900px; height: 447px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 5 -->
    <div class="card5 card big-basic-w-onlybuttons">
        <div class="card-container">
            <div class="card-image"></div>
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Card With Buttons Only</h3>
            </div>
            <div class="card-information">
                <p>
                    Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/JbYBjxPzfCdCVWURN5Ai"
        style="width: 900px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 6 -->
    <div class="card6 card big-basic-w-onlyactions">
        <div class="card-container">
            <div class="card-image"></div>
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Card With Actions Only</h3>
            </div>
            <div class="card-information">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/JbYBjxPzfCdCVWURN5Ai"
        style="width: 900px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 7 -->
    <div class="card7 card custom-design-card">
        <div class="card-container">
            <div class="card-image"></div>
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Custom Card with Deep-Hover Effect</h3>
            </div>
            <div class="card-information">
                <p>
                    Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/CXDAO1Fj14zXfYfUOC20"
        style="width: 934px; height: 763px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 8 -->
    <div class="card8 card custom-design-card2">
        <div class="card-badge"><i class="material-icons-outlined">close</i></div>
        <div class="card-container">
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Card with Dismiss</h3>
            </div>
            <div class="card-information">
                <p>
                    Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button1">READ</button>
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/GcbjDBlCCjGUdqMEjbn0"
        style="width: 901px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 9 -->
    <div class="card9 card horizontal-card">
        <div class="card-image"></div>
        <div class="card-container">
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Horizontal Jumbo</h3>
            </div>
        </div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/4V27lqqVIkXDxNetZmy3"
        style="width: 740px; height: 651px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <!-- card 10 -->
    <div class="card10 card card-w-badge">
        <div class="card-image"></div>
        <div class="card-container">
            <div class="card-text">
                <h2 class="card-heading">Our Changing Planet</h2>
                <h3 class="card-subheading">Card With Badge</h3>
            </div>
        </div>
        <div class="card-badge">7</div>
        <div class="card-actions">
            <div class="card-buttons">
                <button class="button2">BOOKMARK</button>
            </div>
            <div class="card-icons">
                <div>
                    <i class="material-icons-outlined">favorite_border</i>
                </div>
                <div>
                    <i class="material-icons">share</i>
                </div>
                <div>
                    <i class="material-icons-outlined">more_vert</i>
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/nm8YBUdIXDJQnWP9oSST"
        style="width: 740px; height: 670px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
</body>

</html>