<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    <link rel="stylesheet" href="/Components/Lists/Lists.css">
</head>

<body>
    <h1>Ordered Lists</h1>
    <div class="list-container">
        <ol class="lt-roman">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ol>
        <ol class="lt-normal">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ol>
        <ol class="lt-sAlpha">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ol>
    </div>
    <iframe src="https://carbon.now.sh/embed/ndcVOL9WH77k2H73pMyW"
        style="width: 403px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Unordered Lists</h1>
    <div class="list-container">
        <ul class="lt-square">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>
        <ul class="lt-normal">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>
        <ul class="lt-custom">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>
    </div>
    <iframe src="https://carbon.now.sh/embed/qDFPIVvPtkIDLix7BqKV"
        style="width: 403px; height: 250px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Nested Lists</h1>
    <div class="list-container">
        <ol class="">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>
                <ul class="lt-custom nested">
                    <li>Nested Item 1</li>
                    <li>Nested Item 2</li>
                    <li>Nested Item 3</li>
                    <li>Nested Item 4</li>
                    <li>Nested Item 5</li>
                </ul>
            </li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ol>
    </div>
    <iframe src="https://carbon.now.sh/embed/CwkE8jOUILrMFcxHpic9"
        style="width: 529px; height: 252px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Stacked Lists</h1>
    <div class="list-container stacked">
        <div class="notification-header">Notifications</div>
        <ol class="stacked-list">
            <li>Notification 1<p>Notification Text</p>
            </li>
            <li>Notification 2<p>Notification Text</p>
            </li>
        </ol>
        <div class="notification-footer">Notification Footer</div>
    </div>
    <iframe src="https://carbon.now.sh/embed/l1kTVKeAXF5figLvtwYU"
        style="width: 707px; height: 335px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
</body>

</html>