<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="Badge.css">
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>

<body>
    <h1>Badges</h1>
    <p>- Avatars are used to show user status on profiles.
        <br>- We have got different Badges Normal Badge, Pill Badges,
        <br>&nbsp;&nbsp;Profile Badges, Badge inside button, icon badges nad avatars with badges
        <br>- We have got badges for every occasion for success, warning, etc.
    </p>
    <div class="normal-badges">
        <h1 class="badge-tag">Normal Badges</h1>
        <div class="badge-container">
            <span class="badge primary">Primary</span>
            <span class="badge secondary">Secondary</span>
            <span class="badge success">Success</span>
            <span class="badge link">Link</span>
            <span class="badge warning">Warning</span>
            <span class="badge info">Info</span>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/k5OBtoHeXBe1XcMdulXU"
        style="width: 600px; height: 298px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <div class="pill-badges">
        <h1 class="badge-tag">Pill Badges</h1>
        <div class="badge-container">
            <span class="badge pill primary">Primary</span>
            <span class="badge pill secondary">Secondary</span>
            <span class="badge pill success">Success</span>
            <span class="badge pill link">Link</span>
            <span class="badge pill warning">Warning</span>
            <span class="badge pill info">Info</span>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/dFmLIEXpjolVO0F1wTYM"
        style="width: 580px; height: 298px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <div class="profile-badges">
        <h1 class="badge-tag">Profile Badges</h1>
        <div class="badge-container">
            <div class="profile"></div>
            <div class="profile secondary"></div>
            <div class="profile success"></div>
            <div class="profile link"></div>
            <div class="profile warning"></div>
            <div class="profile info"></div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/lQ77vRFqYVlkxWUSLdyO"
        style="width: 462px; height: 298px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <div>
        <h1 class="badge-tag">Button Badges</h1>
        <div class="badge-container">
            <button class="btn primary">
                Notification
                <span class="badge secondary">7</span>
            </button>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/CMIj5yAgww8qGniOQLKn"
        style="width: 504px; height: 260px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <div class="avatar-container icon-avatars">
        <h2 class="avatar-text">Icon Avatars</h2>
        <div class="badge-container">
            <div class="badge-on-icon">
                <i class="material-icons-outlined">shopping_cart</i>
                <span class="badge secondary">7</span>
            </div>
            <div class="badge-on-icon">
                <i class="material-icons-outlined">email</i>
                <span class="badge success">9+</span>
            </div>
            <div class="badge-on-icon">
                <i class="material-icons-outlined">account_circle</i>
                <div class="profile online"></div>
            </div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/0oHhjlW89C4hwvseoR8Q"
        style="width: 631px; height: 409px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <div class="avatar-container image-avatars-w-badge">
        <h3 class="avatar-text">Image Avatars With Badge</h3>
        <div class="badge_parent">
            <img class="avatar sm" src="Images/male_avatar.svg" />
            <div class="badge_border"><span class="profile success"></span></div>
        </div>
        <div class="badge_parent">
            <img class="avatar" src="Images/male_avatar.svg" />
            <div class="badge_border"><span class="profile"></span></div>
        </div>
        <div class="badge_parent">
            <img class="avatar lg" src="Images/male_avatar.svg" />
            <div class="badge_border"><span class="profile idle"></span></div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/uNZv7F3RkTejSG9dhqVx"
        style="width: 529px; height: 521px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>

</html>