<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    <link rel="stylesheet" href="Badge.css">
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>

<body>
    <div class="normal-badges">
        <div class="badge-tag">Normal Badges</div>
        <div class="badge-container">
            <span class="badge primary">Primary</span>
            <span class="badge secondary">Secondary</span>
            <span class="badge success">Success</span>
            <span class="badge link">Link</span>
            <span class="badge warning">Warning</span>
            <span class="badge info">Info</span>
        </div>
    </div>
    <div class="pill-badges">
        <div class="badge-tag">Pill Badges</div>
        <div class="badge-container">
            <span class="badge pill primary">Primary</span>
            <span class="badge pill secondary">Secondary</span>
            <span class="badge pill success">Success</span>
            <span class="badge pill link">Link</span>
            <span class="badge pill warning">Warning</span>
            <span class="badge pill info">Info</span>
        </div>
    </div>
    <div class="profile-badges">
        <div class="badge-tag">Profile Badges</div>
        <div class="badge-container">
            <div class="profile"></div>
            <div class="profile secondary"></div>
            <div class="profile success"></div>
            <div class="profile link"></div>
            <div class="profile warning"></div>
            <div class="profile info"></div>
        </div>
    </div>
    <div>
        <div class="badge-tag">Button Badges</div>
        <div class="badge-container">
            <button class="btn primary">
                Notification
                <span class="badge secondary">7</span>
            </button>
            <button class="btn secondary">
                Notification
            </button>
            <button class="btn success">
                Notification
            </button>
        </div>
    </div>
    <div class="avatar-container icon-avatars">
        <div class="avatar-text">Icon Avatars</div>
        <div class="badge-on-icon">
            <i class="material-icons-outlined">shopping_cart</i>
            <span class="badge secondary">7</span>
        </div>
        <div class="badge-on-icon">
            <i class="material-icons-outlined">email</i>
            <span class="badge success">9+</span>
        </div>
        <div class="badge-on-icon">
            <i class="material-icons-outlined">account_circle</i>
            <div class="profile online"></div>
        </div>
    </div>
    <div class="avatar-container image-avatars-w-badge">
        <div class="avatar-text">Image Avatars With Badge</div>
        <div class="badge_parent">
            <img class="avatar sm" src="Images/male_avatar.svg" />
            <div class="badge_border"><span class="profile success"></span></div>
        </div>
        <div class="badge_parent">
            <img class="avatar" src="Images/male_avatar.svg" />
            <div class="badge_border"><span class="profile"></span></div>
        </div>
        <div class="badge_parent">
            <img class="avatar lg" src="Images/male_avatar.svg" />
            <div class="badge_border"><span class="profile idle"></span></div>
        </div>
    </div>

</html>