<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inputs</title>
    <link rel="stylesheet" href="/Components/Inputs/Inputs.css">
</head>

<body>
    <h1>Standard Input : Text Box</h1>
    <div class="input-container">
        <div class="input-title">Username : </div><input class="text-input" type="text" />
    </div>
    <iframe src="https://carbon.now.sh/embed/v7Ak9t5oh8N4uHHNpn2N"
        style="width: 547px; height: 271px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Input : Type Password</h1>
    <div class="input-container">
        <div class="input-title">Password : </div><input class="text-input" type="password" />
    </div>
    <iframe src="https://carbon.now.sh/embed/v4Fnc4Qdyl6p39i0c7wx"
        style="width: 555px; height: 271px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Input with Validation Message</h1>
    <div class="input-container validate">
        <div class="input-title">Validation : </div>
        <div class="validation-container">
            <input class="text-input" type="text" />
            <div class="validation-message">*Error</div>
        </div>
    </div>
    <iframe src="https://carbon.now.sh/embed/i8mt0HM76qku3JH1ccnB"
        style="width: 598px; height: 335px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
    <h1>Input : Type Text Area</h1>
    <div class="input-container">
        <div class="input-title">TextArea : </div>
        <textarea class="text-input"></textarea>
    </div>
    <iframe src="https://carbon.now.sh/embed/h7TsqSBtQeP3RRmDZap5"
        style="width: 547px; height: 271px; border:0; transform: scale(1); overflow:hidden;"
        sandbox="allow-scripts allow-same-origin">
    </iframe>
</body>

</html>