<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="AlertStyles.css">
</head>

<body>
    <div class="alert-container">
        <div class="alert alert-primary">
            <p class="alert-text">Primary Alert</p>
        </div>
        <div class="alert alert-success">
            <p class="alert-text">Success Alert</p>
        </div>
        <div class="alert alert-warning">
            <p class="alert-text">Warning Alert</p>
        </div>
        <a href="https://mayurchawla.netlify.app/" class="alert alert-link">
            <p class="alert-text">Link Alert</p>
        </a>
        <div class="alert alert-matching">
            <p class="alert-text">Matching with Website Style</p>
        </div>
    </div>
    <div class="alert-container">
        <div class="alert alert-success">
            <i class="material-icons-outlined">check_circle</i>
            <p class="alert-text">Success Alert</p>
        </div>
        <div class="alert alert-warning">
            <i class="material-icons-outlined">warning</i>
            <p class="alert-text">Warning Alert</p>
        </div>
        <a href="https://mayurchawla.netlify.app/" class="alert alert-link">
            <i class="material-icons-outlined">link</i>
            <p class="alert-text">Link Alert</p>
        </a>
    </div>
    
</body>

</html>